/* Universal Selector reset default */

*{
    margin: 0;
    padding: 0;
}
/*  Container Styling Start */
.container {
    margin: 0 auto;
    width: 900px;
    padding: 10px;
}
/*  Container Styling End */

/*  Header Styling Start */

.header {
    background-color: #C3DEF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
.app-logo {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.app-logo img {
    width: 50px;
}
.app-logo h1 {
    color: white;
}
#text-logo {
    color: #545B62 ;
}

button {
    border: 2px solid black;
    box-shadow: 2px 2px black;
    padding: 5px;
}

button:active {
    box-shadow: none;
}

.LogRegBtns button {
    margin-right: 30px;
}
#RegBtn {
    font-weight: 900;
    width: 90px;
    margin-right: 20px;
}
#LogBtn {
    color: white;
    background-color: #085394;
    width: 60px;
    font-weight: 600;

}
#LogBtn:hover {
    background-color: red;
}

.nftCard {
    background-color: #EEEEEE ;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
}
.nftCard img {
    width: 300px;
    height: 200px;
    border: #545B62 2px solid;
    border-radius: 20px;
}
.nftCard h1 {
    font-size:40px;
}
.nftCard p {
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.nftCard button {
    color: white;
    background-color: #17CFD1;
    padding: 5px 10px;
}

#popup {
    border: 3px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 885px;
}
#popup p{
    font-size: 22px;
}
#popup button {
    color: white;
    background-color: #CA6899;
    width: 100px;
}